CompileFlags:
  Add:
    - --target=arm-none-eabi
    - --gcc-toolchain=D:/Tool/arm-none-eabi-15.2.rel1
    - --sysroot=D:/Tool/arm-none-eabi-15.2.rel1/arm-none-eabi
    - -mcpu=cortex-m3
    - -mthumb
    - -x
    - c
    - -isystem
    - D:/Tool/arm-none-eabi-15.2.rel1/lib/gcc/arm-none-eabi/15.2.1/include
    - -isystem
    - D:/Tool/arm-none-eabi-15.2.rel1/lib/gcc/arm-none-eabi/15.2.1/include-fixed
    - -isystem
    - D:/Tool/arm-none-eabi-15.2.rel1/arm-none-eabi/include
    - -DUSE_HAL_DRIVER
    - -DSTM32F103xB
    - -Ie:/study/ST/StepMotorCtrl_42/Core/Inc
    - -Ie:/study/ST/StepMotorCtrl_42/Drivers/STM32F1xx_HAL_Driver/Inc
    - -Ie:/study/ST/StepMotorCtrl_42/Drivers/STM32F1xx_HAL_Driver/Inc/Legacy
    - -Ie:/study/ST/StepMotorCtrl_42/Drivers/CMSIS/Device/ST/STM32F1xx/Include
    - -Ie:/study/ST/StepMotorCtrl_42/Drivers/CMSIS/Include
    - -Ie:/study/ST/StepMotorCtrl_42/User/LED
    - -Ie:/study/ST/StepMotorCtrl_42/User/BUTTON
    - -Ie:/study/ST/StepMotorCtrl_42/User/MT6816
    - -Ie:/study/ST/StepMotorCtrl_42/User/EEPROM
    - -Ie:/study/ST/StepMotorCtrl_42/User/DRIVER
    - -Ie:/study/ST/StepMotorCtrl_42/User/ENCODER
    - -Ie:/study/ST/StepMotorCtrl_42/User/Motor
    - -Ie:/study/ST/StepMotorCtrl_42/User/Communication
    - -Ie:/study/ST/StepMotorCtrl_42/User/Common
  CompilationDatabase: None

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - unused-includes